version: '3.8'

services:
  free5gc-upf-3:
    container_name: branching-upf
    build:
      context: ./nf_upf
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh branching-upf & chmod +x upf-iptables.sh && ./upf-iptables.sh && ./free5gc-upfd -f ../config/upfcfg.yaml"
    volumes:
      - ./config/upfcfgb.yaml:/free5gc/config/upfcfg.yaml
      - ./config/upf-iptables.sh:/free5gc/free5gc-upfd/upf-iptables.sh
      - ./config/pcap.sh:/free5gc/free5gc-upfd/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    cap_add:
      - NET_ADMIN
    networks:
      privnet:
        aliases:
          - upfb.free5gc.org

  free5gc-upf-1:
    container_name: anchor-upf1
    build:
      context: ./nf_upf
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh anchor-upf1 & chmod +x upf-iptables.sh && ./upf-iptables.sh && ./free5gc-upfd -f ../config/upfcfg.yaml"
    volumes:
      - ./config/upfcfg1.yaml:/free5gc/config/upfcfg.yaml
      - ./config/upf-iptables.sh:/free5gc/free5gc-upfd/upf-iptables.sh
      - ./config/pcap.sh:/free5gc/free5gc-upfd/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    cap_add:
      - NET_ADMIN
    networks:
      privnet:
        aliases:
          - upf1.free5gc.org
    depends_on:
      - free5gc-upf-3

  free5gc-upf-2:
    container_name: anchor-upf2
    build:
      context: ./nf_upf
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh anchor-upf2 & chmod +x upf-iptables.sh && ./upf-iptables.sh && ./free5gc-upfd -f ../config/upfcfg.yaml"
    volumes:
      - ./config/upfcfg2.yaml:/free5gc/config/upfcfg.yaml
      - ./config/upf-iptables.sh:/free5gc/free5gc-upfd/upf-iptables.sh
      - ./config/pcap.sh:/free5gc/free5gc-upfd/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    cap_add:
      - NET_ADMIN
    networks:
      privnet:
        aliases:
          - upf2.free5gc.org
    depends_on:
      - free5gc-upf-3 
      - free5gc-upf-1

  db:
    container_name: mongodb
    image: mongo
    command: mongod --port 27017
    expose:
      - "27017"
    volumes:
      - dbdata:/data/db
    networks:
      privnet:
        aliases:
          - db

  free5gc-nrf:
    container_name: nrf
    build:
      context: ./nf_nrf
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh nrf & ./nrf -nrfcfg ../config/nrfcfg.yaml"
    expose:
      - "8000"
    volumes:
      - ./config/nrfcfg.yaml:/free5gc/config/nrfcfg.yaml
      - ./config/pcap.sh:/free5gc/nrf/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    environment:
      DB_URI: mongodb://db/free5gc
      GIN_MODE: release
    networks:
      privnet:
        aliases:
          - nrf.free5gc.org
    depends_on:
      - db

  free5gc-amf:
    container_name: amf
    build:
      context: ./nf_amf
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh amf &./amf -amfcfg ../config/amfcfg.yaml"
    expose:
      - "8000"
    volumes:
      - ./config/amfcfg.yaml:/free5gc/config/amfcfg.yaml
      - ./config/pcap.sh:/free5gc/amf/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    environment:
      GIN_MODE: release
    networks:
      privnet:
        aliases:
          - amf.free5gc.org
    depends_on:
      - free5gc-nrf

  free5gc-ausf:
    container_name: ausf
    build:
      context: ./nf_ausf
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh ausf & ./ausf -ausfcfg ../config/ausfcfg.yaml"
    expose:
      - "8000"
    volumes:
      - ./config/ausfcfg.yaml:/free5gc/config/ausfcfg.yaml
      - ./config/pcap.sh:/free5gc/ausf/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    environment:
      GIN_MODE: release
    networks:
      privnet:
        aliases:
          - ausf.free5gc.org
    depends_on:
      - free5gc-nrf

  free5gc-nssf:
    container_name: nssf
    build:
      context: ./nf_nssf
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh nssf &./nssf -nssfcfg ../config/nssfcfg.yaml"
    expose:
      - "8000"
    volumes:
      - ./config/nssfcfg.yaml:/free5gc/config/nssfcfg.yaml
      - ./config/pcap.sh:/free5gc/nssf/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    environment:
      GIN_MODE: release
    networks:
      privnet:
        aliases:
          - nssf.free5gc.org
    depends_on:
      - free5gc-nrf

  free5gc-pcf:
    container_name: pcf
    build:
      context: ./nf_pcf
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh pcf & ./pcf -pcfcfg ../config/pcfcfg.yaml"
    expose:
      - "8000"
    volumes:
      - ./config/pcfcfg.yaml:/free5gc/config/pcfcfg.yaml
      - ./config/pcap.sh:/free5gc/pcf/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    environment:
      GIN_MODE: release
    networks:
      privnet:
        aliases:
          - pcf.free5gc.org
    depends_on:
      - free5gc-nrf

  free5gc-smf:
    container_name: smf
    build:
      context: ./nf_smf
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh smf & ./smf -smfcfg ../config/smfcfg.yaml -uerouting ../config/uerouting.yaml"
    expose:
      - "8000"
    volumes:
      - ./config/smfcfg.yaml:/free5gc/config/smfcfg.yaml
      - ./config/uerouting.yaml:/free5gc/config/uerouting.yaml
      - ./config/pcap.sh:/free5gc/smf/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    environment:
      GIN_MODE: release
    networks:
      privnet:
        aliases:
          - smf.free5gc.org
    depends_on:
      - free5gc-nrf
      - free5gc-upf-1
      - free5gc-upf-2
      - free5gc-upf-3

  free5gc-udm:
    container_name: udm
    build:
      context: ./nf_udm
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh udm &./udm -udmcfg ../config/udmcfg.yaml"
    expose:
      - "8000"
    volumes:
      - ./config/udmcfg.yaml:/free5gc/config/udmcfg.yaml
      - ./config/pcap.sh:/free5gc/udm/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    environment:
      GIN_MODE: release
    networks:
      privnet:
        aliases:
          - udm.free5gc.org
    depends_on:
      - db
      - free5gc-nrf

  free5gc-udr:
    container_name: udr
    build:
      context: ./nf_udr
      args:
        DEBUG_TOOLS: "false"
    command: sh -c "chmod +x pcap.sh && ./pcap.sh udr & ./udr -udrcfg ../config/udrcfg.yaml"
    expose:
      - "8000"
    volumes:
      - ./config/udrcfg.yaml:/free5gc/config/udrcfg.yaml
      - ./config/pcap.sh:/free5gc/udr/pcap.sh
      - ../../5-fi-packetdata:/free5gc/pcapdata
    environment:
      DB_URI: mongodb://db/free5gc
      GIN_MODE: release
    networks:
      privnet:
        aliases:
          - udr.free5gc.org
    depends_on:
      - db
      - free5gc-nrf

#  free5gc-n3iwf:
#    container_name: n3iwf
#    build:
#      context: ./nf_n3iwf
#      args:
#        DEBUG_TOOLS: "false"
#    command: sh -c "./n3iwf-ipsec.sh && ./n3iwf -n3iwfcfg ../config/n3iwfcfg.yaml"
#    volumes:
#      - ./config/n3iwfcfg.yaml:/free5gc/config/n3iwfcfg.yaml
#      - ./config/n3iwf-ipsec.sh:/free5gc/n3iwf/n3iwf-ipsec.sh
#    environment:
#      GIN_MODE: release
#    cap_add:
#      - NET_ADMIN
#    networks:
#      privnet:
#        aliases:
#          - n3iwf.free5gc.org
#    depends_on:
#      - free5gc-amf
#      - free5gc-smf


  free5gc-webui:
    container_name: webui
    build:
      context: ./webui
      args:
        DEBUG_TOOLS: "false"
    command: ./webui
    volumes:
      - ./config/webuicfg.yaml:/free5gc/config/webuicfg.yaml
    environment:
      - GIN_MODE=release
    networks:
      privnet:
        aliases:
          - webui
    ports:
      - "5000:5000"
    depends_on:
      - db
  portainer:
    image: portainer/portainer-ce
    ports:
    - 9000:9000
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
  gnb1:
    image: ueransim:3.2.2
    container_name: gnb1
    command: 
      - gnb1
    environment:
      AMF_HOSTNAME: amf
      GNB_HOSTNAME: gnb1
      MCC: '208'
      MNC: '93'
      SST: 0x01
      SD: 0x010203
      NCI: '0x0000000100'
    networks:
      privnet:
        aliases:
          - gnb
    volumes: 
      - ./config/pcap.sh:/pcap.sh
      - ../../5-fi-packetdata:/pcapdata
    depends_on:
      - free5gc-amf
      - free5gc-smf
      - free5gc-upf-1
      - free5gc-upf-2
      - free5gc-upf-3
  gnb2:
    image: ueransim:3.2.2
    container_name: gnb2
    command: 
      - gnb2
    volumes: 
      - ./config/pcap.sh:/pcap.sh
      - ../../5-fi-packetdata:/pcapdata
    environment:
      AMF_HOSTNAME: amf
      GNB_HOSTNAME: gnb2
      MCC: '208'
      MNC: '93'
      SST: 0x01
      SD: 0x010203
      NCI: '0x0000001111'
    networks:
      privnet:
        aliases:
          - gnb
    depends_on:
      - free5gc-amf
      - free5gc-smf
      - free5gc-upf-1
      - free5gc-upf-2
      - free5gc-upf-3 
      - gnb1
  ue1:
    image: ueransim:3.2.2
    container_name: ue1
    command: 
      - ue1
    cap_add:
      - all
    volumes: 
      - ./config/pcap.sh:/pcap.sh
      - ../../5-fi-packetdata:/pcapdata
    privileged: true
    environment:
      GNB_HOSTNAME: gnb1
      APN: internet
      MSISDN: '0000000003'
      KEY: '8baf473f2f8fd09487cccbd7097c6862'
      OP_TYPE: OPC
      OP: '8e27b6af0e692e750f32667a3b14605d'
      MCC: '208'
      MNC: '93'
      SST: 0x01
      SD: 0x010203
    networks:
      privnet:
        aliases:
          - ue
    depends_on:
      - gnb1
  ue2:
    image: ueransim:3.2.2
    container_name: ue2
    command: 
      - ue2
    cap_add:
      - all
    volumes: 
      - ./config/pcap.sh:/pcap.sh
      - ../../5-fi-packetdata:/pcapdata
    privileged: true
    environment:
      GNB_HOSTNAME: gnb1
      APN: internet
      MSISDN: '0000000004'
      KEY: '8baf473f2f8fd09487cccbd7097c6862'
      OP_TYPE: OPC
      OP: '8e27b6af0e692e750f32667a3b14605d'
      MCC: '208'
      MNC: '93'
      SST: 0x01
      SD: 0x010203
    networks:
      privnet:
        aliases:
          - ue
    depends_on:
      - gnb1
      - ue1
          
networks:
  privnet:
    ipam:
      driver: default
      config:
        - subnet: 10.100.200.0/24

volumes:
  dbdata: